.App {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.headding {
  text-align: center; 
} 
